<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Login to Flavor Finder and explore unique flavors, recipes, and more.">
    <title>Login | Flavor Finder</title>
    <link rel="stylesheet" href="{% static 'flavor_finder/css/login_styles.css' %}">
</head>
<body>
    {% block content %}
    <div class="login-container">
        <h1>Login to Flavor Finder</h1>
        <form method="post">
          {% csrf_token %}
          {{ form }}
          <button type="submit">Login</button>
        <p>Don't have an account? <a href="/accounts/signup/">Sign up here</a></p>
    </div>

    {% endblock %}
</body>
</html>
