<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sign up for a Flavor Finder account to discover and save your favorite flavors.">
    <title>Flavor Finder - Sign Up</title>
    <link rel="stylesheet" href="{% static 'flavor_finder/css/login_styles.css' %}">
</head>
<body>
    {% block content %}
    <div class="login-container">
        <h2>Create Your Flavor Finder Account</h2>
        <form method="post">
          {% csrf_token %}
          {{ form }}
          <button type="submit">Sign Up</button>
        </form>
            <p> Aready Have an Account? <a href="/accounts/login/">Log in</a></p>
    </div>

    {% endblock %}
</body>
</html>
